html {
    background-color: rgba(184, 163, 73, 0.883);
}

body{
    background-color: inherit;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.suggestionTitle {
    border: thin solid black;
    font-family: 'Gloria Halelujah', cursive;

}

.imgSuggestionBox {
    border: thin solid black;
}

.suggestions {
    border: thin solid black;
}