html {
    background-color: rgba(184, 163, 73, 0.883);
}

body{
    background-color: inherit;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
}

.suggestionTitle .commentTitle {
    width: 100%;
    margin-bottom: 3em;
    margin-top: 2em;
    font-family: 'Gloria Halelujah', cursive;
    text-align: center;
}

.imgSuggestionBox {
    height: 300px;
}

.form-group {
    width: auto;
    border-width: 3px;
    width=50%;
    align-content: center;
}

.suggestions {
    border: thin solid black;
    font-size: 1.7em;
    background-color: cornflowerblue;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-kerning: normal;
    margin-bottom: 10px;
}

.suggestions p:nth-child(n+2) {
    font-family: 'Courier New', Courier, monospace;
}
.comment {
    border: thin solid black;
    font-size: 2 em;
    background-color: cornflowerblue;
    font-family: 'Indie Flower', cursive;
}

.commentTitle {
    font-size: 3em;
    /* align-self: center; */
    /* border-color: black;
    border-style: dashed; */
    text-align: center;
}
.comments {
    border: thin solid black;
    font-size: 2 em;
    background-color: rgba(184, 163, 73, 0.883);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formEntry {
    text-align: center;
    align-items: center;
    border-width: 3px;
    width: 70%;
    padding-bottom: 5px;
}

.collectedSuggestions {
    background-color: blueviolet
}